@tailwind preflight;
@tailwind components;

$primary-color: #333;

body {
    background-color: lightgray;
    color: $primary-color;
}

body {
    article {
        p {
            @apply font-normal;
            @apply leading-normal;
            @apply py-2;
        }
    }

    p.transcript {
        @apply font-normal;
        @apply leading-normal;
        @apply py-2;
    }
}

#hero-and-nav {
    background-size: auto,auto,cover;
    background-position: 50%,50%,50%;
    @apply text-white;

    a {
        @apply text-white no-underline;
    }

    .right-menu svg {
        @apply fill-current;
    }
}

.transcript__speaker { font-weight: bold; }
.transcript__time { font-style: italic; font-size: smaller; margin-left: 1em; opacity: .75;}
.transcript__content { display: block; }

@tailwind utilities;

@responsive {
    .text-shadow {
        text-shadow: 0 0 2px rgba(0,0,0,0.9), 1px 1px 1px rgba(0,0,0,0.9), 1px 1px 5px rgba(0,0,0,0.75);
    }

    .text-shadow-none {
        text-shadow: none;
    }

    .svg-shadow {
        -webkit-filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.75));
        filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.75));
    }
}